
@{
    ViewData["Title"] = "Collaboration";
}

@*<h1>Collaboration</h1>*@

<section class="page-section" id="collaboration">
    <div class="container px-4 px-lg-5">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Our Collaborator</h1>
            <h3 class="section-subheading text-muted">Trusted by</h3>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="https://pbs.twimg.com/profile_images/1484275038178234381/1BMQPOPF_400x400.jpg"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="https://pbs.twimg.com/profile_images/1446028777717473280/Yj88nxjN_400x400.jpg"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="https://pbs.twimg.com/profile_images/1404040292622348294/aWWZFJuH.jpg"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="https://pbs.twimg.com/profile_images/1436067895293857801/9SS4EsH8_400x400.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</section>

