@{
    ViewData["Title"] = "Company";
}
<section class="page-section" id="company">
    <div class="quote">
        <img src="https://images.unsplash.com/photo-1511583090122-0f8ef653906c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" alt="poster4" style="width:100%">
        <div class="text">"Gaming is our passion. We create fun games that you'll love"</div>
    </div>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Company</h1>
            <h3 class="section-subheading text-muted">Who Are We?</h3>
        </div>
    </div>
    <div class="container about">
        <div class="text">
             <p><strong>Games Zone</strong> is a super-indie video games development company focused on creating and producing high-quality original titles for the global market.
                <br /> <br />
                 The company was founded in 2016 in Jakarta (Indonesia) by Arvel Gavrilla Raissananda, a 17-year veteran of the video games industry with dozens of successful cross-platform titles under his belt. He wanted a studio that combined expertise, creative talent and technology, and Lunar Great Wall Studios is the fruit of this ambition.
                <br /> <br />
                The development team is a group of successful professionals who are all driven by an enormous passion for video games and confidence in their ability to complete the entire production cycle to the highest standards of quality and reliability.as remained constant over the years is an unyielding passion for quality - exceptional design, impeccable craftsmanship and enduring value. Today, our administrative team, including senior members from Australia and the US, ensure that the process from initial order right through to delivery of your goods will be managed in a timely and professional manner. With more than 22,000 square meters of enclosed production area and over 600 employees, the company has become well known for its quality, value-priced home furnishings, produced by highly skilled employees and distributed by furniture Retailers, Wholesalers and Project Developers throughout the world.
                <br /> <br />
                We really like to have fun while working, thus we pick the projects that fit our profile and mindset. Although this means we are not suited for every game project on earth, it sure means that we can spend the time on the right projects.
                <br /> <br />
                Video games are not just for entertainment and big money. Video games can be expressive, amusing and even informative. We enjoy this medium in all its various facets and are happy to bring it to old and new audiences.
            </p>
            <img src="https://images.unsplash.com/photo-1545256633-9d719bec17c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="poster4" style="width:100%">
        </div>

    </div>
</section>
</div>

