@{
    ViewData["Title"] = "Product";
}

<section class="page-section bg-white" id="product">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Product</h1>
            <h3 class="section-subheading text-muted">Product of our Company</h3>
        </div>
        <div class="row">
            <!-- item 1-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202108/0410/np2Eb60bDep9fDWtqNNSzqZI.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Elden Ring (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp 729,000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 2-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/cdn/JP0365/CUSA08806_00/D9W8V0pZd3Q36y4xD3x9HqwRqeoxX7oSYz9uA8Nyviev43ixO04rsXAsNh9OC14g.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 ARK: Survival Evolved (R2/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp 368,000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 3-->
             <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202101/0812/FkzwjnJknkrFlozkTdeQBMub.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Resident Evil Village (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp 475,000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 4-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202111/0822/zDXM9K2cQiq0vKTDwF0TkAor.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 FIFA 22 (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp 518.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 5-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/cdn/UP0001/CUSA00663_00/1KH2zw0XpUYviLfB6r5qVTy5REyREiIe.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Assassin’s Creed: Unity (R2/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.248.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 6-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202007/0206/LYdG6IjoOU7r1pYYIs13NoJA.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Watch Dogs Legion (R1/English) [Free PS5 Upgrade]</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.262.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 7-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202008/1803/UIULUSArKlniav8B2FjWWXYo.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Monster Hunter: World (R1/English) Bonus File Folder</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.280.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 8-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202008/1318/8XGEPtD1xoasK0FYkYNcCn1z.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Assassin’s Creed Valhalla (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.427.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 9-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202011/0402/C784xeOFo2wViCf4m5bxgoeH.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Marvel’s SpiderMan Game Of The Year Edition (R2/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.489.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 10-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/ap/rnd/202007/0917/fid2e7IysrUvFqmppIxi48GT.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Yakuza Like a Dragon (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.440.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 11-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/cdn/UP1004/CUSA03041_00/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Red Dead Redemption 2 (R3/English)</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.363.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 12-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="https://image.api.playstation.com/vulcan/img/rnd/202111/0818/6OFhqtXvBpBavqM50dciqeRH.png" alt="..." />
                    <div class="product-caption bg-light">
                        <div class="product-caption-heading">PS4 Battlefield 2042 (R3/English) [Online Only]</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.565.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


