@{
    ViewData["Title"] = "Profile";
}

<section class="page-section" id="product">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Profile</h1>
        </div>
        <div class="row mt-5">
            <div class="ket col-lg-6 col-md-2">
                <h1>What Do We Want to Achieve?</h1>
                <div class="atas">
                    <h3>One</h3>
                    <h5>Creativity</h5>
                    <p>We want to push the boundary of Video Game development</p>
                </div>
                <div class="atas">
                    <h3>Two</h3>
                    <h5>Great Art Style</h5>
                    <p>We want to provide gamers with the best graphics</p>
                </div>
                <div class="atas">
                    <h3>Three</h3>
                    <h5>Good Story</h5>
                    <p>We want gamers to get immersed in the world we created</p>
                </div>
                <div class="atas">
                    <h3>Four</h3>
                    <h5>Challenging</h5>
                    <p>We don't want to make an easy game that makes player become lazy</p>
                </div>
                 <div class="atas">
                    <h3>Five</h3>
                    <h5>High Class Music</h5>
                    <p>We understand that music alongside story is vital to the successful of many games</p>
                </div>
            </div>
            <div class="image col-lg-6 col-md-8">
                <img src="~/pictures/Profile.png" alt="picture">
            </div>
        </div>
    </div>
</section>